#div1 {
  border: 1px solid;
  padding:10px
}
#img1 {
   float: left;
   margin: 10px;
   width = 200
}
.div3{
  position: fixed;
  overflow: scroll;
  top: 100px;
  left: 100px;
  width: 400px;
  height: 400px;
  background-color: #CCCCCC;
  margin:10px
}
